/* Buttons */
button {
    border: 1rem;
    padding: 1rem 6rem;
    border-radius: 10rem;
    color: $granite-gray;
    background-color: $white;
    
    &--size-m {
        font-family: $raleway;
        padding-top: 2rem;
        font-size: 35px;
        font-weight: $bold;
    }
}