/* Buttons */
button {
    border: 1rem;
    padding: 1rem 6rem;
    border-radius: 10rem;
    font-family: $raleway;
    font-size: 35px;
    font-weight: $bold;
    color: $granite-gray;
    background-color: $white;
    }

.contact__button {
    padding-top: 2rem;
}