footer {
    background-color: $granite-gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }
}